.sidebar {
  display: block;
  position: absolute;
  background-color: #6638F0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 20%;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
}

li {
  text-align: left;
}

.roombtn {
  display:block;
  width: 100% !important;
  margin-bottom: 20% !important;
  /*margin-top: 20% !important;*/
}
